<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ user_word + " " }}Names</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{ user_word }}</h2>
  <ul class="list-group">
	{% for name in project_names %}
		<li class="list-group-item">{{ loop.index }}{{ ". " + name }}</li>
	{% endfor %}
  </ul>
</div>

</body>
</html>
