<!DOCTYPE html>
<html lang="en">
<head>
  <title>Name Craft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<script>
		function refresh() {
			window.history.go(0);
		}
</script>

<div class="container">
  <h2>Name Craft</h2>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Random</a></li>
    <!--<li><a data-toggle="pill" href="#owp">One Word Projects</a></li>-->
    <!--<li><a data-toggle="pill" href="#twp">Random</a></li>-->
    <li><a data-toggle="pill" href="#wdp">Describe</a></li>
	<!--<li><a data-toggle="pill" href="#bt">Business</a></li>-->
	<li><a data-toggle="pill" onclick="refresh()">Refresh</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Random Project Names</h3>
	  
	  {% for name in two_word_names %}
			<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
    </div>
    <!--<div id="owp" class="tab-pane fade">
      <h3>One Word Projects</h3>
      <p>
		{% for name in one_word_names %}
			<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}</p>
    </div>-->
    <!--<div id="twp" class="tab-pane fade">
      <h3>Random Names</h3>
      <p>
	    {% for name in two_word_names %}
			<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	  </p>
    </div>-->
    <div id="wdp" class="tab-pane fade">
      <h3>Click A Description</h3>
      <p>
	  
	    <ul class="nav nav-pills nav-stacked">
			<li><a data-toggle="pill" href="#cute">Cute</a></li>
			<li><a data-toggle="pill" href="#fast">Fast</a></li>
			<li><a data-toggle="pill" href="#strong">Strong</a></li>
		</ul>
		
	  </p>
    </div>
	
	<div id="cute" class="tab-pane fade">
		<h3>Cute</h3>
		<p>
			{% for name in describe_projects["Cute"] %}
				<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
			{% endfor %}
		</p>
	</div>
	<div id="fast" class="tab-pane fade">
		<h3>Fast</h3>
		<p>
			{% for name in describe_projects["Fast"] %}
				<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
			{% endfor %}
		</p>
	</div>
	<div id="strong" class="tab-pane fade">
		<h3>Strong</h3>
		<p>
			{% for name in describe_projects["Strong"] %}
				<div class=flash>{{ loop.index }}{{ ". " + name }}</div>
			{% endfor %}
		</p>
	</div>
	
	<!--<div id="bt" class="tab-pane fade">
      <h3>Business Type</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
	<div id="r" class="tab-pane fade">-->
	
    </div>
  </div>
</div>

</body>
</html>