<!doctype html>
<html lang="en">
<head>


  <title>Name Amigo - Business Name Generator</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1></meta>

  <meta name="description" content="Generate business names and project names with name generator. Name Amigo works with full setences or categories to generate high quality business names." />
  
  <!--COMMNENT: to not load a favicon-->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
  <!--Google Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74819142-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>

<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="bottom:0px; left:50%; margin-left:-100px;">
	<a class="a2a_button_reddit"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<script async src="//static.addtoany.com/menu/page.js"></script>

<h1>Welcome to Name Amigo</h1>
<p>Name Amigo is a <b>business name generator</b>. You can enter words, sentences, or paragraphs and the algorithm will generate business names for you. There are also categories if you know the type of business. On the bottom of the page are experimental name generators.</p>

<div data-role="main" class="ui-content">
    <form method="get" action="/custom-words">
        <input type="text" name="words" id="words" required="true" placeholder="Enter your words/sentences:">
        <!--<textarea name="words" id="words" placeholder="Describe:" required="true"></textarea>-->
        <input type="submit" value="Submit">
    </form>
</div>



<div id="tabs">
	
  <ul>
    <li><a href="#tabs-1">Random</a></li>
    <li><a href="#tabs-2">Social</a></li>
	<li><a href="#tabs-4">Cute</a></li>
	<li><a href="#tabs-5">Strong</a></li>
	<li><a href="#tabs-6">Fast</a></li>
  </ul>
  <div id="tabs-1">
    <p>
		{% for name in describe_projects["Random"] %}
			<div>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	</p>
  </div>
  <div id="tabs-2">
    <p>  
		{% for name in describe_projects["Social"] %}
			<div>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	</p>
  </div>
  <div id="tabs-4">
      <p>
		{% for name in describe_projects["Cute"] %}
			<div>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	  </p>
  </div>
  <div id="tabs-5">
      <p>
		{% for name in describe_projects["Strong"] %}
			<div>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	  </p>
  </div>
  <div id="tabs-6">
      <p>
		{% for name in describe_projects["Fast"] %}
			<div>{{ loop.index }}{{ ". " + name }}</div>
		{% endfor %}
	  </p>
  </div>
</div>


<div data-role="controlgroup" data-type="vertical">
      <p>Other Name Generators:</p>
      <a href="/patterns" class="ui-btn">Product Names</a>
      <a href="/pokemon" class="ui-btn">Pokemon Names</a>
      <a href="/trump" class="ui-btn">Trump Spokesman Name</a>
	  <a href="/electrum" class="ui-btn">Electrum Wallet Seeds</a>
</div>
 
 
</body>
</html>
